@font-face {
  font-family: 'GothamBlack';
  src: url('fonts/gotham_black.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'GothamLight';
  src: url('fonts/gotham_light.ttf') format('truetype');
  font-weight: normal;
}



@font-face {
  font-family: 'RobotoMedium';
  src: url('fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
}







@font-face {
  font-family: 'Roboto_Condensed';
  src: url('fonts/Roboto-Condensed.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto_Light';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto_Regular';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'MyriadLight';
  src:
    url('fonts/MyriadPro_Light.otf') format('opentype'),
    url('fonts/MyriadPro_Light.ttf') format('truetype'),
    url('fonts/MyriadPro_Light.eot');
  //url('fonts/DINPRO_BOLD.woff');
  font-weight:normal;
  font-style:normal;
}